<div id="main">
  <div id ="interactiveShell">
    <div class="columnGroup firstColumnGroup">
      <div class="ledgeStory">
        <div id="interactiveFreeFormMain">
          <div class="g-content">
            <div class="g-annotations">
              <div class="g-annotations-overall" style="opacity: 1; display: block;">
                <div class="g-annotation" style="left:100px;">
                  <div class="g-arrows">
                    <div class="g-arrow g-arrow-vertical" style="left:50%;height:90px;"></div>
                    <div class="g-arrow g-arrow-horizontal" style="left:10%;width:80%;bottom:95px;"></div>
                  </div>
                  About one of every seven hosts had an effective Regularity rate lower than 10 percent, including <b>40.78.62.207</b> at 6 percent and <b>adl.canalvip.biz</b> at 9 percent.
                </div>
                <div class="g-annotation" style="left:260px;">
                  <div class="g-arrows">
                    <div class="g-arrow g-arrow-vertical" style="left:17px;height:153px;"></div>
                  </div>
                  Each circle represents a company, sized by it's number of events. The largest is <b>images.adstheaa.com</b>, at more than 14000 per day.
                </div>
                <div class="g-annotation" style="left:440px;">
                  Average Regularity rate is 29.1 percent. But rates vary widely by Category.
                  <button class="g-button" data-view="sector" style="margin-top:20px;">Show by Category</button>
                </div>
                <div class="g-annotation" style="left:600px;">
                  <div class="g-arrows">
                    <div class="g-arrow g-arrow-vertical" style="bottom:55px;left:-50px;height:20px;"></div>
                    <div class="g-arrow g-arrow-vertical" style="bottom:55px;left:-14px;height:23px;"></div>
                    <div class="g-arrow g-arrow-vertical" style="bottom:55px;left:215px;height:46px;"></div>
                    <div class="g-arrow g-arrow-horizontal" style="bottom:54px;left:-50px;width:266px;"></div>
                    <div class="g-arrow g-arrow-vertical" style="left:50%;height:49px;"></div>
                  </div>
                  3 of the Most high referrer hosts also had a higher Daily Entropy.
                </div>
                <div class="g-annotation" style="left:780px;">
                  <div class="g-arrows">
                    <div class="g-arrow g-arrow-vertical" style="left:92px;height:87px;"></div>
                  </div>
                  Effective Regularity rates cannot be computed for several host names because blah blah. For example,
                </div>
              </div>
            </div>
            <div class="g-graphic">
              <div class="g-search">
                <input type="text" placeholder="Find a Host or IP">
                <button style="display: none;" class="g-search-clear">X</button>
              </div>
              <div class="g-buttons">
                <button class="g-button g-active" data-view="overall">The Overall Picture</button>
                <button class="g-button" data-view="sector">View by Category</button>
              </div>
            </div>
            <div class="g-sector-notes">

            </div>
            <div class="g-tip" style="width: 150px; height: 80px; top: 151.189px; left: 159.7px; display: none;">
              <div class="g-tip-shadow"></div>
              <div class="g-tip-content">
                <div class="g-tip-title"></div>
                <div class="g-tip-metric" data-name="rate">
                  <span class="g-tip-metric-name">Regularity Pecentile</span>
                  <span class="g-tip-metric-value"></span>
                </div>
                <div class="g-tip-metric" data-name="taxes">
                  <span class="g-tip-metric-name">High Referrer</span>
                  <span class="g-tip-metric-value"></span>
                </div>
                <div class="g-tip-metric" data-name="earnings">
                  <span class="g-tip-metric-name">Volume</span>
                  <span class="g-tip-metric-value"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

