<ng-container *ngIf="selectedUser">
    <div class="risky-users-info">
        <div class="risky-user">
            <div class="header">
                <div class="row">
                    <div class="col col-md-3"><strong>Employee Id: </strong>{{selectedUserDetails.userInfo?.EmployeeID}}</div>
                    <div class="col col-md-3"><strong>Employee Name: </strong>{{selectedUserDetails.userInfo?.EmployeeName}}</div>
                    <div class="col col-md-3"><strong>Employee UserID: </strong>{{selectedUserDetails.userInfo?.UserId}}</div>
                    <div class="col col-md-3"><strong>Department: </strong>Infrastructure Operations</div>
                </div>
                <div class="row">
                    <div class="col col-md-3"><strong>Manager Name: </strong>Ron Conway</div>
                    <div class="col col-md-3"><strong>Manager Employee ID: </strong>78679</div>
                    <div class="col col-md-3"><strong>Manager UserId: </strong>Roconwy</div>
                </div>
            </div>
            <div class="details-list" *ngFor="let item of selectedUserDetails.data">
                <div class="list-item">
                    <div class="item-header row">
                        <div class="col-md-8">
                            <span class="days-info">10 Days Back</span> {{item.category}}</div>
                        <div class="col-md-4 risk-score">Risk Score: {{item.risk}}</div>
                    </div>
                    <div class="item-info">
                        {{item.ruleDescription}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="selectedUser === null">
    <div class="all-users-info table table-bordered">
        <div class="row table-header">
            <div class="col text-center col-md-1">
                S.No
            </div>
            <div class="col text-center col-md-6">
                User Info
            </div>
            <div class="col text-center col-md-5">Bytes</div>
        </div>
        <div class="row" *ngFor="let user of allUsers; let i = index">
            <div class="col col-md-1">{{i + 1}}</div>
            <div class="col col-md-6"><a [routerLink]="['/pages/details/riskyUser', user._id]">{{user._id}}</a></div>
            <div class="col col-md-5">{{user.llamadas}}</div>
        </div>
        <div class="text-right pull-right load-more-link" *ngIf="recordsReturned < totalRecords">
            <a href="javascript:void(0);" (click)="loadMoreUsers()">Load More</a>
        </div>
    </div>
</ng-container>
