<div class="row threat-details-cont">
    <div class="clearfix col-md-12 col-sm-12 card-header m-b-md">
        Voilation Summary
    </div>
    <div class="side-cont text-uppercase col-md-1 col-sm-1">
        <div class="model-heading">
            Threat Model
        </div>
        <div class="model-indicator">
            Threat Indicators
        </div>
    </div>
    <div class="info-cont col-md-11 col-sm-11">
        <div class="model-heading text-uppercase">
            <div class="threat-stage">
                <div>Stage 1</div>
                <div>Delivery</div>
            </div>
            <div class="threat-stage">
                <div>Stage 2</div>
                <div>Exploitation</div>
            </div>
            <div class="threat-stage">
                <div>Stage 3</div>
                <div>Installation</div>
            </div>
        </div>
        <div class="model-indicator">
            <div class="threat-stage-info text-uppercase">
                <div class="stage-info">
                    Policy: spam email
                </div>
                <div class="stage-info">
                    Policy: Suspicious Windows Remote Login Source Email
                </div>
                <div class="stage-info">
                    Policy: Unusual Process on a host
                </div>
            </div>
        </div>
    </div>
</div>